@model RHWEBAPP2.Models.Candidatos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidatos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto_Al_Que_Aspira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puesto_Al_Que_Aspira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario_Al_Que_Aspira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario_Al_Que_Aspira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Principales_Competencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Principales_Competencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Principales_Capacitaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Principales_Capacitaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiencia_Laboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiencia_Laboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendado_Por)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomendado_Por)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
